name: Publish Docker images

on:
  workflow_dispatch:  # Keep manual trigger
    inputs:
      version:
        description: 'Version number (e.g. 0.1.1rc2, 0.1.1.dev20250201)'
        required: true
        type: string
      distros:
        description: 'Optional comma-separated distributions to publish'
        required: false
        type: string
      include_ui_image:
        description: 'Set to false to skip publishing the UI Docker image'
        required: false
        default: true
        type: boolean

jobs:
  publish-docker-images:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./actions/publish-dockers
      with:
        version: ${{ inputs.version }}
        distros: ${{ inputs.distros }}
        include_ui_image: ${{ inputs.include_ui_image }}
        dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
        dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
